.wrapper {
    width: 700px;
    background: #f0f1f2;
    margin: 50px auto;
    padding: 30px;
    text-align: center;
    border-radius: 20px;

    h1 {
        padding: 20px 0;
    }

    .contacts-list {
        i {
            cursor: pointer;
        }
    }

    select {
        width: 100%;
        border: 1px solid #ced4da;
        border-radius: 0.25em;
        padding: 10px;
        text-align: center;
    }
}

.wrapper-form {
    position: relative;

    .close-form {
        position: absolute;
        right: 20px;
        font-size: 25px;
        cursor: pointer;
    }

    input {
        text-align: center;
    }

    .error {
        margin-top: 5px;
        color: #FF2643;
    }

    input.error, select.error {
        border: 1px solid #FF2643;
    }
}

.alert {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

p {
    margin: 0;
}
