<div class="wrapper" *ngIf="!showForm">
    <h1>{{ title }}</h1>

    <table class="table contacts-list">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Country</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let contactDetails of contactList; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ contactDetails.firstName }}</td>
            <td>{{ contactDetails.lastName }}</td>
            <td>{{ contactDetails.email }}</td>
            <td>{{ contactDetails.country }}</td>
            <td><i class="bi bi-pencil" (click)="showEditContactForm(contactDetails._id)"></i></td>
            <td><i class="bi bi-trash" (click)="deleteContact(contactDetails._id)"></i></td>
        </tr>
        </tbody>
    </table>

    <div>
        <button type="button" class="btn btn-primary" (click)="showAddContactForm()">Add Contact</button>
    </div>
</div>


<div class="wrapper wrapper-form" *ngIf="showForm">
    <i class="bi bi-x-circle close-form" (click)="closeForm()"></i>
    <h1>{{ title }}</h1>

    <form [formGroup]="contactForm" (ngSubmit)="showForm == 'new' ? createContact() : saveContact()">
        <div class="mb-4">
            <label for="firstName" class="form-label">First Name*</label>
            <input type="text" class="form-control" [class]="firstName.invalid && firstName.touched ? 'error' : ''"
                   formControlName="firstName" id="firstName" name="firstName">
            <p class="error" *ngIf="firstName.invalid && firstName.touched">First name is invalid.</p>
        </div>
        <div class="mb-4">
            <label for="firstName" class="form-label">Last Name*</label>
            <input type="text" class="form-control" [class]="lastName.invalid && lastName.touched ? 'error' : ''"
                   formControlName="lastName" id="lastName" name="lastName">
            <p class="error" *ngIf="lastName.invalid && lastName.touched">Last name is invalid.</p>
        </div>
        <div class="mb-4">
            <label for="email" class="form-label">Email Address*</label>
            <input type="text" class="form-control" [class]="email.invalid && email.touched ? 'error' : ''"
                   formControlName="email" id="email" name="email">
            <p class="error" *ngIf="email.invalid && email.touched">Email address is invalid.</p>
        </div>
        <div class="mb-4">
            <label for="country" class="form-label">Country*</label>
            <select class="form-select form-select-lg mb-3" [class]="country.invalid && country.touched ? 'error' : ''"
                    formControlName="country" id="country" name="country">
                <option selected disabled>Select Country</option>
                <option *ngFor="let country of appComponent.countries"
                        [value]="country['name']">{{country['name']}}</option>
            </select>
            <p class="error" *ngIf="country.invalid && country.touched">Country is invalid.</p>

        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!contactForm.valid">Save</button>
    </form>
</div>

<div class="alert mt-2" [class]="requestResponse.status == 200 ? 'alert-success' : 'alert-danger'"
     *ngIf="requestResponse">
    <p>{{ requestResponse.message }}</p>
</div>
